@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mukta&family=Open+Sans:ital,wght@1,300&family=Outfit:wght@200&family=PT+Sans+Caption&family=Roboto:wght@300;400&family=Source+Serif+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: hsl(185, 41%, 84%);
  font-family: 'DM Sans', sans-serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'PT Sans Caption', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Serif Pro', serif;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

}

.title{
  text-align: center;
}


.container{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  background: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 30px;
}

input{
  background: hsl(189, 41%, 97%) ;
  border: 1px solid hsl(189, 41%, 97%);
  border-radius: 7px;
  color: hsl(183, 100%, 15%);
  padding: 5px;
  width: 100%;

}

form{
  display: flex;
  flex-direction: column;
}

.left-part, .right-part{
  width: 48%;
  padding: 18px;

}

.right-part{
  background: hsl(183, 100%, 15%);
  border: 1px solid hsl(183, 100%, 15%);
  border-radius: 15px;
  color: white;
}

.reset-btn{
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  border: 1px solid hsl(172, 67%, 45%);
  border-radius: 7px;
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 3px;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.reset-btn:hover{
  background: hsl(185, 41%, 84%);
  border: 1px solid hsl(185, 41%, 84%);
  transition: 200ms;
}
.tip-btns-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tip-btn{
  border: 1px solid hsl(183, 100%, 15%);
  background: hsl(183, 100%, 15%);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tip-btn:hover{
  border: 1px solid hsl(172, 67%, 45%);
  background:hsl(172, 67%, 45%);
  transition: 200ms;
}

.tip-input{
  background: hsl(189, 41%, 97%) ;
  border: 1px solid hsl(189, 41%, 97%);
  border-radius: 7px;
  color: hsl(183, 100%, 15%);
  padding: 5px;
  width: 32%;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}